
<div class="container mx-auto">

{% form 'customer_login' %}
                {% if form.errors %}
                    <div class="relative border border-red-400 bg-red-100 text-red 700 px-4 py-3" role="alert">
                        <strong class="font-bold">Error!</strong>
                        <p class="block sm:inline">{{ form.errors | default_errors }}</p>
                    </div>
                {% endif %}
  <div class="mb-4">
    <label class="block text-md font-light mb-2" for="username">Username</label>
    <input class="w-full bg-drabya-gray border-gray-500 appearance-none border p-4 font-light leading-tight focus:outline-none focus:shadow-outline" type="email"
    name="customer[email]"
    id="email_address"
    autocomplete="email"
    placeholder="Email address">
  </div>

  {% if form.password_needed %}
  <div class="mb-4">
    <label class="block text-md font-light mb-2" for="password">Password</label>
    <input class="w-full bg-drabya-gray border-gray-500 appearance-none border p-4 font-light leading-tight focus:outline-none focus:shadow-outline" 
    type="password"
    name="customer[password]"
    id="password"
    autocomplete="current-password"
    class="relative block w-full px-3 py-2 border"
    placeholder="Password"
    >
  </div>
  {% endif %}

  <div class="flex items-center justify-between mb-5">
    <button class="bg-indigo-600 hover:bg-blue-700 text-white font-light py-2 px-6 rounded focus:outline-none focus:shadow-outline" type="button">
      LOGIN
    </button>
    <a class="inline-block align-baseline font-light text-sm text-indigo-600 hover:text-indigo-500" href="#">
      Forgot Password?
    </a>
  </div>
  <p class="text-center text-md font-light">Don't have an account? <a class="font-light text-md text-indigo-600">Create</a></p>
{% endform %}
</div>