<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <h2 class="font-extrabold p-4 text-center text-5xl">{{ section.settings.main-heading }}</h2>
    <div class="flex flex-wrap -m-4 justify-evenly">
      {% for product in section.settings.featured_collection.products limit: section.settings.number_of_products_to_show %}
        {% render 'card-collection', product_product: product, class : "card-collection-class" %}
      {% endfor %}
    </div>
  </div>
</section>


{% schema %}
{
    "name": "Featured Collection",
    "settings": [
        {
            "type": "text",
            "id": "main-heading",
            "default": "Featured Collection",
            "label": "Title"
        },
        {
            "type": "collection",
            "id": "featured_collection",
            "label": "Collection"
        },
        {
            "type": "range",
            "id": "number_of_products_to_show",
            "min": 4,
            "max": 12,
            "default": 4,
            "label": "Number of products to show"
        }
    ],
    "presets": [
        {
            "name": "Featured Collection"
        }
    ]
}
{% endschema %}