
<div class="flex items-center flex-col justify-center m-5">
<img src="{{ collection.featured_image.src | img_url : 'large'}}" alt="" class="rounded-lg">
<p class="font-extrabold text-5xl m-2">{{ collection.title }}</p>
<p class="m-2 text-xl">{{ collection.description | truncatewords: 5, '...' }}</p>
</div>