
<ul class="grid grid-cols-3 p-10 justify-center">
  {% for collections in collections %}
  <li class="card bg-pink-600 rounded-lg p-8 m-4 w-3/4 h-auto">
    <a href="{{ collections.url }}">
    <img src="{{ collections.featured_image.src | image_url }}" class="rounded-lg" alt="">
    <div>
      <p class="font-bold text-3xl text-white text-center my-2">{{ collections.title }}</p>
    </div>
  </a>
  </li>
  
{% endfor %}

</ul>

