<div class="px-4 py-8">
    


        <h1 class="text-3xl text-center">{{ section.settings.list-collection.title }}</h1>
        <p>{{   section.settings.list-collection.all_products_count }}</p>

    

     
          </div>
      </div>
</div>

{% schema %}
{
   "name": "main list collection",
   "settings":[
    {
       "type": "collection",
       "label":"Choose Collection",
       "id" : "list-collection",
      "default": "all",
    }
   ]
}
{% endschema %}