<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="lg:w-2/3 flex flex-col sm:flex-row sm:items-center items-start mx-auto">
      <h1 class="flex-grow sm:pr-16 text-2xl font-medium title-font text-gray-900">{{ section.settings.rich-main-text }}.</h1>
      <button class="flex-shrink-0 text-white border-0 bg-gray-900 py-2 px-8 focus:outline-none rounded text-lg mt-10 sm:mt-0">{{ section.settings.rich-button-text }}</button>
    </div>
  </div>
</section>

{% schema %}
{
 "name": "Rich Text",
"settings": [
  {
   "type": "text",
  "default": "Shop Now To explore all of our variety",
  "id":"rich-main-text",
  "label" : "Rich Text"
  },
  {
   "type": "text",
    "default": "Shop Now",
    "id" : "rich-button-text",
    "label" : "Rich Button Text"
  }
]
  
}
{% endschema %}